version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_server
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: PASSWORDDB
      MYSQL_DATABASE: DATABASES
      MYSQL_USER: USERDB
      MYSQL_PASSWORD: PASSWORDDB
    ports:
      - "3307:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
